class CreateCurrent<%= @classname_downcase %> < ActiveRecord::Migration
  def self.up
    execute <<-SQL
      CREATE VIEW current<%= @classname_downcase_plural %> AS SELECT id as org_id,
<% @ary.each do |x| %>    
      <%= x.name %>,
<% end %>    
      start_datetime FROM <%= @classname_downcase_plural %> where not exists (select * from invalid<%= @classname_downcase_plural %> where invalid<%= @classname_downcase_plural %>.org_id = <%= @classname_downcase_plural %>.id )
    SQL
  end

  def self.down
    execute <<-SQL
      DROP VIEW current<%= @classname_downcase_plural %>
    SQL
  end
end
