class CreateCurrent<%= @data[:classname] %> < ActiveRecord::Migration
  def self.up
    execute <<-SQL
      CREATE VIEW current<%= @data[:plural] %> AS SELECT id as org_id,
<% @data[:ary].each do |x| %>    
      <%= x.name %>,
<% end %>    
      start_datetime FROM <%= @data[:plural] %> where not exists (select * from invalid<%= @data[:plural] %> where invalid<%= @data[:plural] %>.org_id = <%= @data[:plural] %>.id )
    SQL
  end

  def self.down
    execute <<-SQL
      DROP VIEW current<%= @data[:plural] %>
    SQL
  end
end
