class CreateInvalid<%= @data[:classname] %> < ActiveRecord::Migration
  def self.up
    create_table :invalid<%= @data[:plural] %> do |t|
      t.column :org_id, :int, :null => false
      t.column :end_datetime, :datetime, :null => true
    end
  end

  def self.down
    drop_table :invalid<%= @data[:plural] %>
  end
end
